.DS_Store
client/node_modules
/dist
server/dataProcessing


# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# Editor directories and files
server/.idea
/client/.vscode

